.chat {
    min-height: 100vh;
    background: linear-gradient(#596AFF, #383699);
    display: grid;
    place-items: center;
}

.chat-container {
    width: 95%;
    height: 75vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Fixed typo: 2rf -> 2fr */
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #596AFF;
    color: white;
    font-size: 50px;
    z-index: 1000;
  }